@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.all{
    margin-top: 35px;
    position: relative;
    top: -40px;
    
}
.list {
    list-style: none;
    text-align: center;
}
.num {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 20px;
    color: rgb(243, 188, 188);
    box-shadow:   0 0 10px 4px rgb(255, 0, 0);
    border: 2px solid #f8baba;
    border-radius: 4px;
    margin-bottom: 10px;
    background: linear-gradient(red, rgb(82, 0, 0));
    cursor: pointer;
}
.num:hover{
    box-shadow:   0 0 20px 5px rgb(255, 0, 0);
    border: 2px solid #f8baba;
    background:radial-gradient(red, rgb(82, 0, 0));
}
.num:focus{
    box-shadow:   0 0 20px 5px rgb(255, 0, 0);
    border: 2px solid #f8baba;
    background:radial-gradient(red, rgb(20, 0, 0));
}
